<p-toast></p-toast>
<div class="mt-8 flex flex-column align-items-center justify-content-center">
  <p-card header="Todo List" class="min-w-6">
    <div class="mb-3 d-flex justify-content-between align-items-center">
      <div>
        <p-button label="New" (click)="show()" class=""></p-button>
      </div>
      <div>
        <p-button label="Clear" severity="warning" (click)="deleteAllTodos()" [disabled]="!todosRealizados()"></p-button>
      </div>
    </div>
    <p class="m-0">
      <p-table [value]="todos" [tableStyle]="{ 'max-width': '40rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Realized</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-todo>
          <tr>
            <td style="max-width: 50em; word-wrap: break-word;">{{ todo.title }}</td>
            <td style="max-width: 50em; word-wrap: break-word;">{{ todo.content }}</td>
            <td>
              <p-checkbox [(ngModel)]="todo.realized" [binary]="true" (onChange)="realizeTodo($event, todo.id)"
                          inputId="binary"></p-checkbox>
            </td>
            <td>
              <p-button icon="pi pi-trash" styleClass="p-button-danger" (click)="deleteTodo(todo.id)"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p>
  </p-card>
</div>

